/* Main Styles */
main {
    height: 85vh;
  }
  /* End of main styles */
  
  /* Header Component Styles */
  .page-header {
    background: black;
    justify-content: space-between;
    color: white;
    display: flex;
    padding: 3%;
  }

  .logo-box {
    font-size: 14px;
  }
  .logo-box a {
    color: white;
  }

  .header-menu-box {
    flex-direction: column;
    text-align: right;
    line-height: 22px;
  }
  .header-menu-box a {
    color: white;
    font-size: 17px;
  }
  /* End Header Component Styles */
  
  /* Learning page styles */
  .learning-route {
    padding-left: 20px;
    padding-right: 20px;
  }
  .translateWord {
    border: 1px solid black;
    height: 250px;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    line-height: 40px;
  }

  .answerForm{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
  }
  .answerForm input {
    border: 1px solid lightgrey;
  }
  .DisplayScore, .score-info{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
  }
  /* End Learning page styles */
  
  /* Login Page Styles */
  fieldset{
    border: none;
  }
  .login-grid {
    display: grid;
    grid-template-columns: 100%;
    height: 80vh;
  }
  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .login{ 
    text-align: center;
    margin-top: 100px;
  }
  .LoginForm {
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    padding: 15px;
    max-width: 350px;
  }
  .form-input {
    margin: 10px 0;
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 30px;
  }
  .form-label {
    display: block;
  }
  /* End Login Page Styles */
  
  /* Utility Classes */
  .invisible {
    background: white;
    border: none;
  }
  .wrong-answer-hollow {
    border: 1px solid red;
    background: salmon;
    color: red;
  }
  .wrong-answer-solid {
    background-color: red;
    color: white;
  }
  .correct-answer {
    background-color: green;
  }
  .red-text {
    color: red;
  }
  .green-text {
    color: green;
  }
  .btn {
    background: black;
    padding: 7px;
    color: white;
    border-radius: 5px;
  }
  /* End Utility Classes */
  
  /* Registration Styles */
  .registration {
    text-align: center;
    margin-top: 100px;
  }
  .registration-grid p {
    font-size: 20px;
  }
  .registration-grid {
    display: grid;
    grid-template-columns: 100%;
    height: 80vh;
  }
  .registration-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .RegistrationForm {
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 100%;
    padding: 15px;
    max-width: 350px;
  }
  .registration-input {
    margin: 10px 0;
    display: block;
    width: 100%;
    border-radius: 3px;
    height: 30px;
  }
  .registration-label {
    display: block;
  }
  .RegistrationForm .btn {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  /* End Registration styles */
  
  /* Dashboard Styles */
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7%;
  }

  .words-box {
    border: 2px solid black;
    border: 5px solid hsl(0, 0%, 40%);
    /* #2 */
    padding: 5px;
    /* #3 */
    outline: 5px solid hsl(0, 0%, 60%);
    width: 80%;
    padding: 8%;
    box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
  }

  .words-box h1 {
    font-size: 28px;
  }

  .dashboard-words ul {
    list-style-type: none;
    padding: 0;
    line-height: 8px;
    padding-bottom: 8px;
  }

  .learn-btn {
    width: fit-content;
    margin: auto;
    margin-top: 10%;
    font-size: 22px;
  }

    /* .dashboard{
      position: relative;
    }
   .dashboardScore {
    margin-left: 20%;
    width: fit-content;
    background:black;
    color: white;
    padding: 5px;
    font-size: 13px;
  }
  .dashboard-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 5%;
  }
  .dashboard-words ul{
    list-style: none;
  }
  .dashboard-words p {
    font-size: 12px;
    line-height: 8px;
  }
  .dashboard-words .btn {
    width: fit-content;
    margin-left: 5%;
  }
  .dashboard h1 {
    margin-right: 8%;
  }
  .dashboard h3{
    margin-left: 20%;
  }
  .dashboard h2 {
    margin-left: 20%;
    margin-top: 40px;
  } */
  /* End of Dashboard Styles */

  /* Media Queries */
  @media (min-width: 500px) {
    .dashboard-words p {
      text-indent: 15px;
      font-size: 15px;
    }
    .header-menu-link{
      font-size: 18px;
    }
  }
  @media (min-width: 687px) {
    .LoginForm {
      border-radius: 5px;
      border: 1px solid black;
      width: 65%;
      padding: 15px;
    }
    .dashboardScore {
      top: 90px;
      right: 180px;
    }  
  }
  
  @media (min-width: 876px) {
    .answerBtn {
      display: inline-block;
      width: 24.5%;
      height: 100%;
      margin: 0 2px 5px;
    }
    .learning-answerBtn-box {
      margin: 5px 0px;
      height: 40vh;
    }
    .header {
      height: 10vh;
    }
    #logo {
      margin: 0 0 0 30px;
    }
    .login-content {
      padding: 30px;
    }
    .login-grid {
      grid-template-columns: auto 60% auto;
    }
  }
  /* Media Queries */
  